/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

#home {
    margin: auto;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    display: flex; /* menu'yu da bir flex konteyner yapar */
    justify-content: flex-end; /* menu içindeki öğeleri ortalar */
    margin-right: 1.5rem;
}

.menu ul {
    list-style-type: none;
}

.menu a {
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
}

#top-header {
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color: #073788; /* Arka plan rengini istediğiniz renk değeriyle değiştirin */
    padding: 20px; /* İstenilen iç boşluk değerini kullanın */
    height: 75px;
    color: #fff; /* Yazı rengini istediğiniz renk değeriyle değiştirin */
}

.action-button {
    margin-left: 20px; /* action-button'a sola boşluk verir */
    display: block;
    float: right;
}

#top-header a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

#top-header li {
    display: inline;

}#top-header ul {
     list-style-type: none;
}

 #footer {
     display: flex;
     background-color: #f5f5f5;
     height: 40px;
     align-items: center;
     justify-content: center;
     position: fixed;
     bottom: 0;
     width: 100%;
 }